.container{
    text-align: center;
    background-color: rgba(219, 171, 82, 0.578);
    margin-top: 100px;
    margin-left: 300px;
    width: 50%;
    height: 50%;
    border-radius: 10px;
    box-shadow: inset 4px 4px 15px rgb(101, 167, 167);
    padding-left: 0px;
    padding-right: 0px;
}
h1{
    color:  rgb(15, 88, 88);
    font-size: 40px;
}
#forget{
    margin-right:70px ;
    font-size: 10px;
    border: none;
}
#login{
    width: 130px;
    font-size: 20px;
}
#singup{
     text-align: center;
    background-color:burlywood ;
    font-size: 10px;
}
label{
    color: rgb(15, 88, 88);
}
body{
    
    background-image: url(111.png);
    background-size: cover;
    }
  input[type=button]  {
    background-color: burlywood;
    border-radius: 10px;
  }
  